@import '../../App.scss';
.selected_show_container{
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    .container_item{
        position: relative;
        width: 60%;

        .bottom_btn_container{
            display: flex;
            justify-content: center;
            align-items: center;
            padding-top: 100px;
            padding-bottom: 50px;
            
        }

        .disable{
            background: red;
        }

        .show_list{
            display: flex;
            justify-content: center;
            align-items: center;
            margin-top: 45px;
            .title{
                font-size: 36px;
                letter-spacing: 1px;
                text-align: center;
                color: var(--text-color);
            }
            
        }
       

    }
}